/*Animated background*/
@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-4010px, 0, 0);
  }
}
.clouds {
  position: absolute;
  background: url('./assets/images/clouds.png');
  background-repeat: repeat-x;
  background-position: center;
  width: 8020px;
  min-height: 40vh;
  bottom: 0;
  animation: slide 180s linear infinite;
  transition: 1s;
}

/*Overall*/
h1 {
  font-family: monospace;
  font-size: 6pt;
}
.App {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  background: url('./assets/images/backdrop.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  transition: .1s;
  font-family: monospace;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
  max-width: 800px;
  height: 300px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 20px;
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .text {
    margin-top: 200px;
  }
}
@media screen and (max-height: 414px) {
  .text {
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 150px;
    max-width: 450px;
    font-size: 10pt;
  }
}

/*Control*/
.btn-dark:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  -webkit-user-select: none;
}

/*Icons*/
.github {
  max-width: fit-content;
  text-align: left;
  position: absolute;
  margin-top: 20px;
  left: 1%;
  -webkit-user-select: none;
}
.credits {
  max-width: fit-content;
  text-align: right;
  position: absolute;
  margin-top: 20px;
  right: 1%;
  -webkit-user-select: none;
}